html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  padding: 20px;
  background: url("src/background.png") no-repeat center center/cover;
  backdrop-filter: blur(5px);
}

.page-container {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background: linear-gradient(0, lightgray, white);
  font-family: "Arial";
  border-radius: 10px;
  box-shadow: #0007 2px 2px 5px 0px;
}

.progress-bar {
  width: 50%;
  background: blue;
  border-radius: 50%;
}

.poll-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 50px;
}

.poll-item input {
  flex-basis: 50px;
  align-self: flex-start;
}

.poll-item .progress-bar {
  visibility: hidden;
  width: 0;
  transition: linear .5s;
}

input:checked ~ .poll-item .progress-bar {
  visibility: visible;
}
