body {
  padding: 20px;
  background: url("src/background.png");
  filter: blur(5px);
}

.page-container {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #0007 2px 2px 5px 0px;
  filter: revert;
}
